*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #597075;
    width: 100%;
}

.hero{
    background: url("../img/hero-img.jpg") no-repeat;
    background-size: cover;
    background-position: center;  
    height: 800px;
    box-shadow: inset 0 0 0 1000px rgba(32,40,42,0.6);
}

header{
    justify-content: space-between;
    background-color: #20282A;
    color: #93B8C2;
}

.hidden{
    display: none;
}

.mobile{
   display: flex;
   justify-content: space-between;
   padding: 16px 32px;
}

.mobile > .open{
    margin: auto 0;
}

.mobile hr{
    width: 24px;
    border: none;
    border-top: 2px solid white;
    padding: 3px 0;
}

.mobile > .open:hover{
    cursor: pointer;
}

.icons img{
    width: 32px;
}

.icons img:hover{
    cursor: pointer;
}

.twitter{
    margin: 0 24px;
}

@media screen and (min-width: 541px){
    header, .header-left, .header-right{
        display: flex;
        padding: 8px 16px;
    }
}



